/* admin styles for Depict Plugin */
.wrap .depict-wrap .form-table label small em {
    font-weight: 400 !important;
}
.under {
    border-bottom: thin solid #ccc;
}
.depict-wrap span.text-muted {
    color: #656565;
}
.depict-page .depict-author-footer {
    height: 3em;
    padding: 4px 12px;
}
.depict-page .depict-author-footer h3 {
    font-size: 19px;
    margin-bottom: 8px;
    position: relative;
    top: -8px;
}

.depict-widget {
    position: relative;
    margin: 0 auto;
    background: transparent;
}
.depict-widget .depict-gravatar img {
    height: 90px;
    width: 90px;
    float: none;
    clear:both;
    margin: 0 25%;
    padding: 4px;
    border: 1px solid #eee;
    border-radius: 0;
}
.depict-widget .depict-gravatar:after {
    content: " ";
    clear:both;
    display: block;
    width: 90px;
    height: 1px;
    padding: 5px;
}
.depict-widget header {
border-top: 1px solid #eee;
}
.widget.widget_depict_widget:before {
    content: " ";
    clear:both;
}
.widget.widget_depict_widget {
    display: block;
    margin-top: 15px;
    padding-top: 20px;
}
.widget.widget_depict_widget h4 {
    margin-bottom: 0;
    margin-top: .5em;
    padding-top: 5px;
    border-top: 1px solid #eee;
}

.depict-group {
    padding: 0;
    list-style: none;
    margin: 5px auto;
}
.depict-group-item {
  position: relative;
  display: block;
  padding: 5px 0;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #eee;

}
.depict-group > li.depict-group-item {
padding-left: 7px;
}
.depict-group-item:first-child {
  margin-top: 3px;
}
.depict-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
a.depict-group-item,
button.depict-group-item {
  color: #555;
}
a.depict-group-item .depict-group-item-heading,
button.depict-group-item .depict-group-item-heading {
  color: #333;
}
a.depict-group-item:hover,
button.depict-group-item:hover,
a.depict-group-item:focus,
button.depict-group-item:focus {
  color: #555;
  text-decoration: none;
  background-color: #f5f5f5;
}
.depict-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.depict-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
.depict-author-footer {
    background: #efefef;
    margin: 3px auto;
    display: block;
    width: 100%;
    padding: 3px 8px;
    height: 1.5em;
}
.depict-author-footer:after {
    content: " ";
    height: 12px;
    display: block;
    width: 100%;
    clear: both;
}
.depict-widget .sepspace {
    width: 1em;
}
.depict_full {
    display: block;
}
.depict_link {
    display: none;
}

.depict-hidden {
    display: none;
}
.depict-widget ul.depict-group li.depict-group-item a {
    font-size: 92.5%;
    display: inline;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.depict-widget ul.depict-group li.depict-group-item span {
    background: transparent;
}
.depict-widget ul.depict-group li.depict-group-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.depict-widget ul.depict-group li.depict-group-item.depict-noellip {
    white-space: normal;
    overflow: visible;
}
/* Have A Wonderful Time */
